.shop-popup {
  position: fixed;
  top: 100px;
  width: 100vw;
  height: calc(100vh - 100px);
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 50;
  animation: fadeIn 0.3s ease-out;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 40px 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.shop-title {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.shop-sections {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-title {
  font-size: 30px;
  color: #ccc;
  margin: 20px 0;
}

.backgrounds-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 40px;
}

.color-preview {
  height: 60px;
  border-radius: 5px;
}

.insufficent-founds {
  color: black;
}

.background-card {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid transparent;
  transition: transform 0.2s ease-in-out;
  transform: translateZ(0);
}

.background-card.active {
  border-color: #00ff1a;
  background: rgba(255, 215, 0, 0.05);
}

.background-card:hover {
  transform: translateY(-5px);
}