
.powerup-inventory {
    font-size: 2rem;
  bottom: 2vw;
  right: 73%;
   position: fixed;
   display: flex;
  flex-direction: column;
  
}

.slots-grid {
    display: flex;
    gap: 10px;
}

/* Aplicamos estilos comunes a .slot y .slot-selected */
.slot, .slot-selected {
    width: 60px;          /* Ajusta al tamaño de tus iconos */
    height: 60px;         /* Ajusta al tamaño de tus iconos */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s;
    
    /* Reset de estilos de botón */
    padding: 0;
    outline: none;
    font-size: 1.5rem;
}

.slot {
    background-color: #ececec62; /* Un gris más visible */
    border: 2px dashed #ccc;
    color: white;
}

.slot-selected {
    background-color: #777;
    border: 2px solid gold; /* Cambiamos a sólido y color para diferenciarlo */
    transform: scale(1.05);
}

.slot:hover, .slot-selected:hover {
    transform: scale(1.1);
    background-color: #666;
}

.empty-slot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.confirmation-popup {
  position: absolute;
  bottom: 50px;
  left: 0;
  background: white;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  display: flex;
  gap: 5px;
  pointer-events: auto;
}

.confirm-button, .cancel-button {
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.confirm-button { background: #4CAF50; color: white; }
.cancel-button { background: #f44336; color: white; }