.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #2c3e50;
}

.login-title {
  font-size: 40px;
  font-weight: bolder;
}


.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.submit-button {
  background-color: #f39c12;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
  width: 100px;
}

.submit-button:hover {
  transform: scale(1.05);
}

input {
  box-sizing: border-box;
  width: 100%;
  border: none;
}

.error-msg {
  color: red;
  background-color: rgba(231, 60, 60, 0.1);
  font-size: 0.85rem;
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid rgba(231, 60, 60, 0.3);
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 1000px) {
  .logo {
    width: 15%;
    width: 15%;
    padding: 0;
  }

  .login-title{
    font-size: 2vw;
    padding: 0;
  }
  .login-form{
    font-size: 1vw;
    width: 15%;
    width: 30%; 
    gap: 1.5vw;
    padding: 0;
  }
  .toggle-mode{
    font-size: 1.25vw;
  }

  .submit-button {
    padding: 3%;
    cursor: pointer;
    transition: transform 0.2s ease;
    width: 100px;
  }
 

}
